/*
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }


}
*/

/* 全局 CSS 文件中 */

@font-face {
  /* 自定义字体名称（后续通过 font-family 使用） */

  font-family: 'AlimamaFangYuanTiVF-Thin';

  /* 字体文件路径（使用相对路径或别名） */

  src: url('../assets/fonts/AlimamaDongFangDaKai-Regular.woff2') format('woff2'),
  url('../assets/fonts/AlimamaDongFangDaKai-Regular.ttf') format('truetype');

  /* 可选配置 */

  font-weight: normal;

  /* 字体粗细（normal/bold/100-900） */

  font-style: normal;

  /* 字体样式（normal/italic/oblique） */

  font-display: swap;

  /* 字体加载策略（提升性能） */
}

@font-face {
  /* 自定义字体名称（后续通过 font-family 使用） */

  font-family: 'AlimamaDongFangDaKai-Thin';

  /* 字体文件路径（使用相对路径或别名） */

  src: url('../assets/fonts/AlimamaFangYuanTiVF-Thin.woff2') format('woff2'),
  url('../assets/fonts/AlimamaFangYuanTiVF-Thin.ttf') format('truetype');

  /* 可选配置 */

  font-weight: normal;

  /* 字体粗细（normal/bold/100-900） */

  font-style: normal;

  /* 字体样式（normal/italic/oblique） */

  font-display: swap;

  /* 字体加载策略（提升性能） */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'AlimamaFangYuanTiVF-Thin', sans-serif;
}
